extends layout

block content
  h1.menu Pizza Store Menu
    h2.menu Pizzas
    for pizza in pizzas
      h4.menu=pizza.name
    br
    h2.menu Drinks
    for drink in drinks
      h4.menu=drink.name
      p.menu=drink.price
    br
    a(href='/createpizza')
      h2.menu Build Your Own
    include partialmenu

