navbar.navbar.navbarinfo
  h1.logo.navbarinfo Pizza Store
  if signedIn
    a.navbarinfo(href='/api/logout') Logout
  else

    form.navbarinfo(method='post' action='/api/login')
      label Sign In?
      input.navbarspace(type='text', placeholder='user name' name='user_name')
      input.navbarspace(type='password', placeholder='password', name='password')
      input.navbarspace(type='submit' value='login')
