navbar.navbar
  if signedIn
    a.navbar(href='/api/logout') Logout
    p.navbar You are signed in as
  else

    form(method='post' action='/api/login')
      label Sign In?
      input(type='text', placeholder='user name' name='user_name')
      input(type='password', placeholder='password', name='password')
      input(type='submit' value='login')
