signUp
  h2.title Create an Account
  form.signupform(method='post' action='/api/register')
    input.signup(type='text', placeholder='Name' name='name')
    input.signup(type='text', placeholder='User Name' name='user_name')
    input.signup(type='password', placeholder='Password' name='password')
    input.signup(type='text', placeholder='Address' name='address')
    input.signup(type='text', placeholder='Phone Number' name='phone_number')
    input.signup(type='text', placeholder='Payment Method' name='payment_method')
    input.signup(type='submit' value='signUp')
