body {
  padding: 25px;
  margin: 25px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #F6E8EA;
  color: #5B1865;
  padding-bottom: 80%;
  outline: 10px #2C5784 solid;
}

a {
  color: #00B7FF;
}

a:hover {
  text-decoration: none;
  font-size: 16px;
}

.logo {
  font-family: 'Pacifico';
  font-size: 30px;
}

.title {
  font-family: 'Pacifico';
  font-size: 30px;
  text-align: center;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #251101;
  color: white;
  width: 100%;
}

.navbarinfo {
  margin: 10px;
}

.navbarspace {
  margin-left: 5px;
}

.menu {
  text-align: center;
}

select {
  width: 33%;
  height: 10%;
}

.button {
  background-color: yellow;
  width: 25%;
  height: 40px;
  color: #251101;
  font-family: 'Pacifico';
  font-size: 20px;
}

.button:hover {
  width: 27%;
  height: 45px;
}

.transaction{
  text-align: center;
}

.formtransaction{
  text-align: center;
}

.formpizza {
  text-align: center;
}

.signup {
  width: 50%;
  height: 25px;
  margin: 2px;
  font-size: 16px;
}

.signupform {
  text-align: center;
}