body {
  padding: 25px;
  margin: 25px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #F6E8EA;
  color: #5B1865;
  padding-bottom: 80%;
  outline: 10px #2C5784 solid;
}

a {
  color: #00B7FF;
}

a:hover {
  text-decoration: none;
  font-size: 16px;
}

.logo {
  font-family: 'Pacifico';
  font-size: 30px;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #251101;
  color: white;
  width: 100%;
}

.navbarinfo {
  margin: 10px;
}

.navbarspace {
  margin-left: 5px;
}

.menu {
  text-align: center;
}

.formpizza {
  text-align: center;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #74675D;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #CDB0B5;
}

td:nth-child(5){
  width: 20%
}
